---
import { TaskDetails } from "@/components/task/task_details";
import Sidebar from "../components/sidebar/sidebar";
import "../styles/global.css";
import { Toaster } from "react-hot-toast";
import { ClientRouter } from "astro:transitions";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="generator" content={Astro.generator} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>Beel Project {title}</title>
        <ClientRouter />
    </head>

    <body class="m-0 min-h-screen">
        <Sidebar client:load transition:persist />
        <div id="main-content" class="transition-all duration-300 ml-[0px]">
            <main class="flex-1 overflow-auto p-4">
                <slot />
            </main>
        </div>

        <Toaster position="bottom-right" client:load />
    </body>
</html>
