---
import { TaskDetails } from "@/components/task/task_details";
import Sidebar from "../components/sidebar/sidebar";
import "../styles/global.css";
import { Toaster } from "react-hot-toast";
import { ClientRouter } from "astro:transitions";
import { Header } from "@/components/header/header";
import { SettingsModal } from "@/components/user/settings_modal";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="generator" content={Astro.generator} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{title}</title>
        <ClientRouter />
    </head>
    <body class="flex m-0 min-h-screen">
        <Sidebar client:load transition:persist />
        <main class="flex-1 overflow-auto p-4">
            <Header client:load />
            <slot />
            <SettingsModal client:load/>
        </main>
        <TaskDetails client:load />
        <Toaster position="bottom-center" client:load />
    </body>
</html>
